/* Testing */
/* .Link{
    border: 1px white solid;
} */

@font-face {
    font-family: Roboto;
    src: url(/public/Fonts/Roboto/Roboto-Bold.ttf);
}

.Link{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #E3DCD0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 42px;
}

.Link:hover{
    color: #E3DCD0;
}

@media screen and (max-width: 855px) {
    .Link {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
}