div>p {
    color: white;
    margin: auto;
}

div {
    margin-top: 20%;
}

#welcome {
    font-family: 'Brandon-Grotesque';
    font-style: normal;
    font-weight: 330;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    background: linear-gradient(90deg, #CE3C29 0%, #EB8400 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

#message {
    font-family: 'Brandon-Grotesque';
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 90px;

    text-align: center;

    color: #E3DCD0;
}

#mission {
    font-family: 'Brandon-Grotesque';
    font-style:normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;

    text-align: center;

    color: #E3DCD0;

}

#letsTalk {
    position: absolute;
    width: 228px;
    height: 64px;
    left: 606px;
    top: 543px;
    background: linear-gradient(106.42deg, #CE3C29 12.77%, #EB8400 101.94%);
    box-shadow: 0px 86.4865px 158.27px rgba(0, 0, 0, 0.07), 0px 36.132px 66.1215px rgba(0, 0, 0, 0.0503198), 0px 19.3179px 35.3517px rgba(0, 0, 0, 0.0417275), 0px 10.8295px 19.8179px rgba(0, 0, 0, 0.035), 0px 5.75144px 10.5251px rgba(0, 0, 0, 0.0282725), 0px 2.3933px 4.37974px rgba(0, 0, 0, 0.0196802);
    border-radius: 25px;
}
