#logo {
    max-height: 70px;
}

nav {
    border: 1px solid white;
    background-color: #171717;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto-Regular';
    font-weight: 700;
    align-items: center;
    height: 80px;
}



.navbar-links {
    color: white;
    text-decoration: none;
    font-size: 18px;
}