/* Testing */
/* .footer, .copyright, .socialLink, .socialLinks{
    border: 1px solid black;
} */

@font-face {
    font-family: Proxima;
    src: url(/public/Fonts/Proxima/Proxima\ Nova\ Thin.otf);
}

@font-face {
    font-family: Roboto;
    src: url(/public/Fonts/Roboto/Roboto-Bold.ttf);
}

.mainFooter{
    background-color: #E3DCD0;
}

.footer{
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 64px;
    background-color: #E3DCD0;
    height: 174px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copyright{
    font-family: Proxima;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: rgba(29, 35, 39, 0.75);
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
}

.socialLinks {
    display: flex;
    justify-content: right;
}

.socialLink {
    margin: 0px 20px;
}

.webLink{
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    color: #35312A;
    text-decoration: none;
    padding: 5px;
    margin: 10px 35px;
}

.webLink:hover{
    color: #35312A;
}

@media screen and (max-width: 1050px) {
    .socialLink{
        margin: 0px 10px;
    }
    .webLink{
        font-size: 14px;
        margin: 10px 10px;
    }
}

@media screen and (max-width: 855px) {
    .footer{
        flex-direction: column;
        padding: 0px 10px;
        height: auto;
    }
    .webLink{
        margin: 10px;
        order: 1;
    }
    .socialLinks{
        order: 2;
    }
    .copyright{
        order: 3;
        margin: 16px 0px;
    }

}